@namespace html url(http://www.w3.org/1999/xhtml);


/* i really want this to be global */



html, body, body *:not(span), body *:not(code)

    , body *:not([background-image])

    , body *:not([background])

    , body *:not([background*="url"])

    , body *:not([background-image*="url"])

    , body *:not(img)

{

    background-color: rgba(0,0,0,1) !important;

}



body *:not(span), body *:not(span):not(*)

{

    color: rgba(60,60,60,1) !important;

}



body a, body a *:not(img), body a:link

{

    background-color: rgba(40,40,40,0) !important;

    color: rgba(50,0,0,1) !important;

}



body a:hover, body a:hover *, body a:visited:hover, body a:visited *:hover

{

    background-color: rgba(0,0,0,0) !important;

    color: rgba(50,50,0,1) !important;

}



body a:active, body a:active *

{

    color: rgba(25,50,0,1) !important;

}



body a:visited, body a:visited *

{

    color: rgba(50,25,0,1) !important;

}



html body * input

{

    background: rgba(0,50,0,.5) !important;

    border: 1px solid rgba(60,60,0,1) !important;

    color: rgba(60,60,60,1) !important;

}



div[style*="transparent"] *:not(img)

{

    opacity: 0 !important;

}
